{
  "comments": false,
  "ignore": ["src/models", "src/interfaces"],
  "sourceMaps": "inline",
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12.0"
        }
      }
    ]
  ]
}
